#installationView {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    background-color: rgba(0,0,0,0.6);
}

.uninstalled #installationView {
    display: block;
}

#mainView {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,0.7);
    display: none;
}

.installed #mainView {
    display: block;
}

body{
    background: url(../colabeoBackground.png);
    background-size:100%, 100%;
    background-repeat:no-repeat;
    background-color: black;
    overflow:hidden;
}

#installationView div{
    margin-top:10%;
    margin-left: 10%;
}

#installationView img{
    width: 180px;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 60px;
}

#installationView h1{
    margin-left: 40px;
    color: lightgoldenrodyellow;
}

#installationView a{
    margin-top: 70px;
    margin-left: 80px;
    border-radius: 10px;
    height: 30px;
    width: 170px;
    background: #357a9c;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#168add", endColorstr="#007ee5");*/
    background: -webkit-gradient(linear, left top, left bottom, from(#168add), to(#357a9c));
    background: -moz-linear-gradient(top, #168add, #357a9c);
    border: 1px solid #357a9c;
    color: white;
}

#installationView p{
    margin-top: 6px;
}

.show-item .todo-content {
    text-align: center;
    color: #fefefe;
}

.show-item .todo-edit{
    color: #68b3f6;
    float: right;
    display: none;
}
.show-item .todo-edit.toShow{
    display: inline-block;
    duration: 2s;
}

.show-item .todo-destroy {
    color: #d32f27;
    float:left;
    display: none;
}

.show-item .todo-destroy.toShow{
    display: block;
}

/*header*/
#new-todo{
    color: #fff;
    background-color: rgba(185, 185, 185, 0.2);
    border-radius: 5px;
    border: none;
    height: 30px;
}

#google-form{
    margin: 0px;
    position: absolute;
    top:0px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-bottom: solid 1px rgb(124, 124, 124);
    height: 150px;
}


#search-icon{
    margin:auto;
    color: #8b8b8b;
    padding-top: 7px;
    padding-left: 11px;
}

.google-bar {
    background-color: rgba(185, 185, 185, 0.2);
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
}

#main_search{
    background-color: transparent;
    border: none;
    margin: auto;
    color: #fff;
    font-size: 20px;
    height: 30px;
    width: 90%;
}

/*body*/
#favor-sites{
    position: absolute;
    top:160px
}

.page-header{
    margin-top:10px;
    margin-left: 20px;
}

.edit-item{
    text-align: center;
}

.todo-input {
    text-align: center;
}


/*footer*/
div h1{
    color: #3398cd;
}

#speed-dial small{
    color: #fefefe;
}

#speed-dial{
    background-color: rgba(0, 0, 0, 1.0);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    height: 100px;
}

#create-todo{
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px;
}
