#installationView {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.uninstalled #installationView {
    display: block;
}

#mainView {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,0.7);
    display: none;
}

.installed #mainView {
    display: block;
}

body{
    background: url(../background.png);
    background-size:100%, 100%;
    background-repeat:no-repeat;
    background-color: black;
    overflow:hidden
}

#create-todo{
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px;
}

#speed-dial{
    background-color: rgba(0, 0, 0, 1.0);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    height: 100px;
}

div h1{
    color: #3398cd;
}

#speed-dial small{
    color: #fefefe;
}

.show-item .todo-content {
    text-align: center;
    color: #fefefe;
}

.show-item .todo-edit{
    color: #68b3f6;
    float: right;
    display: none;
}
.show-item .todo-edit.toShow{
    display: inline-block;
    duration: 2s;
}

.show-item .todo-destroy {
    color: #d32f27;
    float:left;
    display: none;
}

.show-item .todo-destroy.toShow{
    display: block;
}



.google-bar {
    background-color: rgba(185, 185, 185, 0.2);
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
}

#new-todo{
    color: #fff;
    background-color: rgba(185, 185, 185, 0.2);
    border-radius: 5px;
    border: none;
    height: 30px;
}

#google-form{
    margin: 0px;
    position: absolute;
    top:0px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-bottom: solid 1px rgb(124, 124, 124);
    height: 150px;
}

#main_search{
    background-color: transparent;
    border: none;
    margin: auto;
    color: #fff;
    font-size: 20px;
    height: 30px;
    width: 90%;
}

#favor-sites{
    position: absolute;
    top:160px
}

#search-icon{
    margin:auto;
    color: #8b8b8b;
    padding-top: 7px;
    padding-left: 11px;
}

.page-header{
    margin-top:10px;
    margin-left: 20px;
}

.edit-item{
    text-align: center;
}

.todo-input {
    text-align: center;
}