#installationView {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    background-color: rgba(0,0,0,0.6);
}

.uninstalled #installationView {
    display: block;
}

#mainView {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,0.7);
    display: none;
}

.installed #mainView {
    display: block;
}

body{
    background: url(../colabeoBackground.png);
    background-size:100%, 100%;
    background-repeat:no-repeat;
    background-color: black;
    overflow-x:hidden;
}

#installationView div{
    margin-top:10%;
    margin-left: 10%;
}

#installationView img{
    width: 180px;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 60px;
}

#installationView h1{
    margin-left: 40px;
    color: lightgoldenrodyellow;
}

#installationView a{
    margin-top: 70px;
    margin-left: 80px;
    border-radius: 10px;
    height: 30px;
    width: 170px;
    background: #357a9c;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#168add", endColorstr="#007ee5");*/
    background: -webkit-gradient(linear, left top, left bottom, from(#168add), to(#357a9c));
    background: -moz-linear-gradient(top, #168add, #357a9c);
    border: 1px solid #357a9c;
    color: white;
}

#installationView p{
    margin-top: 6px;
}

.show-item .todo-content {
    text-align: center;
    color: #fefefe;
}

.show-item .todo-edit{
    color: #68b3f6;
    float: right;
    display: none;
}
.show-item .todo-edit.toShow{
    display: inline-block;
    duration: 2s;
}

.show-item .todo-destroy {
    color: #d32f27;
    float:left;
    display: none;
}

.show-item .todo-destroy.toShow{
    display: block;
}

/*header*/
#new-todo{
    color: #fff;
    background-color: rgba(185, 185, 185, 0.2);
    border-radius: 5px;
    border: none;
    height: 30px;
}

#google-form{
    padding-top: 60px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    border-bottom: solid 1px rgb(124, 124, 124);
    height: 110px;
}

#search-icon{
    margin:auto;
    color: #8b8b8b;
    padding-top: 7px;
    padding-left: 11px;
}

.google-bar {
    background-color: rgba(185, 185, 185, 0.2);
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
}

input#main_search{
    background-color: transparent;
    border: none;
    margin: auto;
    color: #fff;
    font-size: 20px;
    height: 44px;
    width: 90%;
}

/*body*/
#favor-sites{
    position: relative;
    margin-top:30px;
}

.page-header{
    margin-top:10px;
    margin-left: 20px;
}

.edit-item{
    text-align: center;
}

.todo-input {
    text-align: center;
}

.add-button {
    background-color: rgba(185,185,185,0.1);
    cursor: pointer;
}

.add-button:hover{
    border: 5px solid rgba(100, 193, 225, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(100, 193, 225, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(100, 193, 255, 0.2);
    box-shadow: inset 0 1px 1px rgba(100, 193, 255, 0.2);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

div#create-todo {
    text-align: center;
    margin-top: 10px;
    height: 50px;
}

input#new-todo{
    display:none;
}

/*footer*/
footer{
    position: absolute;
    bottom: 0px;
    z-index: 10;
    left:10px;
    height: 4em;
}